<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Song Shaker Home Page</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/vendor_styles/normalize.css">
    <link rel="stylesheet" href="vendor/vendor_styles/pure.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Hind:400,500,700,600' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">

    <!--SCRIPTS-->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/assets/scripts/client/client.js"></script>

    <base href="/">

</head>
<body ng-controller="MainController">
    <div class="header-div">
        <button ng-click="logOut()" class="pure-button button-xsmall log-out-button">Log Out</button>
        <div class="logoholder">
            <img src="/assets/images/SongShakerLogo.jpg" alt="Song Shaker Logo" class="logo">
        </div>
    </div>

        <div>
            <div class="menu-holder">
                <div class="pure-menu pure-menu-horizontal custom-menu">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/welcome" class="pure-menu-link custom-menu-link">Welcome</a></li>
                        <li class="pure-menu-item"><a href="/setList" class="pure-menu-link custom-menu-link">Set List Generator</a></li>
                        <!--<li class="pure-menu-item"><a href="/standardlibrary" class="pure-menu-link">Song Library</a></li>-->
                        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                            <a href="/standardlibrary" id="menuLink1" class="pure-menu-link custom-menu-link">Song Library</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item"><a href="/standardLibrary" class="pure-menu-link custom-menu-link">Song Shaker Standard Library</a></li>
                                <li class="pure-menu-item"><a href="/customLibrary" class="pure-menu-link custom-menu-link">Your Custom Song Library</a></li>
                                <!--<li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>-->
                            </ul>
                        <li class="pure-menu-item"><a href="/addSong" class="pure-menu-link custom-menu-link">Add Song</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="main-content">

            <main ng-view>
            </main>

    </div>

    <div class="footer">

    </div>

</body>
</html>