<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Song Shaker Home Page</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">

    <!--SCRIPTS-->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/assets/scripts/client/client.js"></script>

</head>
<body ng-controller="MainController">
    <h1>Song Shaker Home Page</h1>

    <button><a href="/welcome">Welcome</a></button>
    <button><a href="/standardlibrary">Song Library </a></button>
    <!--<button><a href="/customlibrary">View Custom Library Page</a></button>-->
    <button><a href="/setlist">Set List Generator</a></button>
    <button><a href="/addsong">Add Song</a></button>

    <main ng-view>
    </main>

</body>
</html>