<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Song Shaker Home Page</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <!--Return to add a downloaded version instead of CDN.-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">

    <!--SCRIPTS-->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/assets/scripts/client/client.js"></script>

    <base href="/">

</head>
<body ng-controller="MainController">
    <h1>Song Shaker Home Page</h1>

    <button><a href="/welcome">Welcome</a></button>
    <button><a href="/standardlibrary">Song Library </a></button>
    <!--<button><a href="/customlibrary">View Custom Library Page</a></button>-->
    <button><a href="/setlist">Set List Generator</a></button>
    <button><a href="/addsong">Add Song</a></button>


    <button ng-click="logOut()">Log Out</button>


    <main ng-view>
    </main>

</body>
</html>