<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head>
    <meta charset="UTF-8">
    <title>Song_Shaker</title>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/assets/scripts/client/login.js"></script>
</head>
<body>
    <H1>Hello World!  This is song shaker.</H1>

    <form action="/" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Log In">
        </div>
    </form>

    <div ng-controller="ButtonController">
        <p>If you are not a registered Song Shaker user, please click here to register.</p>
        <button ng-click="goToRegistration()">Register</button>
    </div>

</body>
</html>