<!DOCTYPE html>
<html lang="en" ng-app="registrationApp">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/assets/scripts/client/registration.js"></script>
</head>
<body ng-controller="registrationController">
    <h1>User Registration</h1>
    <p>We are glad you are joining Song Shaker!</p>
    <p>Please complete the registration form below.</p>

    <p>Upon successful registration, you will be directed to our login page.</p>

    <div ng-show="failStatus">
        <h3 ng-show="failStatus">There was an error with your registration.  Please ensure you have completed all fields and try again.</h3>
    </div>

    <div ng-show="userDuplicate">
        <h3 ng-show="failStatus">That username is unavailable.  Please try another username.</h3>
    </div>

    <div>
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" id="firstname" data-ng-model="user.firstname"/>
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" data-ng-model="user.lastname"/>
        </div>
        <div>
            <label for="emailaddress">Email Address:</label>
            <input type="text" name="emailAddress" id="emailaddress" data-ng-model="user.emailaddress"/>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" data-ng-model="user.username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" data-ng-model="user.password"/>
        </div>
        <div>
            <input type="submit" value="Register" ng-click="registerUser()">
        </div>
    </div>

    <p>If you would like to return to the log in page, please click <a href="/login">here</a>.</p>
</body>
</html>