<div ng-controller="CustomLibraryController" ng-init="getCustom()">
    <h1>Custom Library</h1>

    <button><a href="/standardlibrary">Go To Standard Library Page</a></button>

    <p>The Song Shaker App allows you to add songs to your custom song library via the <a href="/addsong">Add Song</a> page.</p>
    <p>Your current custom library is displayed below.</p>
    <p>You may update your settings using the checkboxes to the left of each song.</p>

    <button ng-click="getCustom()">Refresh Custom Library</a></button>

    <h2>Active Songs</h2>
    <p>If you do not want an active song to be available for use in your set lists, please click its corresponding "deactivate" checkbox to the left of the song details.</p>

    <div ng-repeat="song in customLibraryActive">
        <div class="{{song.include}}">
            <p ng-class="{strike: deleted, bold: important}">Artist: {{song.artist}}  |  Title: {{song.title}}</p>
            <p>Key: {{song.key}}  |  Tempo Category: {{song.tempo}} </p>
            <p>Deactivate<input ng-change="deactivateSong(song)" type="checkbox" ng-model="deleted"></p>
        </div>
    </div>

    <h2>Inactive Songs</h2>
    <p>If you would like to make an inactive song available for use in your set lists, please click its corresponding "activate" checkbox to the left of the song details.</p>

    <div ng-repeat="song in customLibraryInactive">
        <div class="{{song.include}}" >
            <p ng-class="{strike: deleted, bold: important}">Artist: {{song.artist}}  |   Title: {{song.title}}</p>
            <p>Key: {{song.key}}  |  Tempo Category: {{song.tempo}} </p>
            <p>Activate<input ng-change="activateSong(song)" type="checkbox" ng-model="important"></p>
        </div>
    </div>
</div>