<div ng-controller="StandardLibraryController">
    <h1>Standard Song Shaker Library</h1>
    <button><a href="/standardlibrary">View Standard Library Page</a></button>
    <button><a href="/customlibrary">View Custom Library Page</a></button>
    <p>The Song Shaker App comes with the standard library of 200 songs shown below.</p>
    <p>If you do not want a song to be included in your set lists, please click its corresponding "inactivate" checkbox to the left of the song details.</p>
    <p>You may reactivate the song by unchecking that box.</p>

    <p>{{library}}</p>
</div>