<div ng-controller="CustomLibraryController">
    <h1>Custom Library</h1>

    <button><a href="/standardlibrary">View Standard Library Page</a></button>
    <button><a href="/customlibrary">View Custom Library Page</a></button>

    <p>The Song Shaker App allows you to add songs to your custom song library via the <a href="/addsong">Add Song</a> page.</p>
    <p>Your current custom library is displayed below.</p>
    <p>If you do not want a song to be included in your set lists, please click its corresponding "inactivate" checkbox to the left of the song details.</p>
    <p>You may reactivate the song by unchecking that box.</p>

</div>