
<div class="view-content">
    <h1>Welcome to Song Shaker Set Maker!</h1>

    <h4 class="bold">Song Shaker makes it easy to generate a set list for your next gig!</h4>
    <p>Song Shaker comes with a standard library of over 200 songs.  We give you the ability to choose which of those songs you would like to be available when creating your sets. You can also add as many custom songs as you would like to make Set Shaker work best for you!</p>

    <h4 class="bold">Take a tour around the app: </h4>
    <ul class="tour">
        <li type="square">Visit the <a href="/setlist">Set List Generator</a> to check out the awesome set lists you can make.</li>
        <li type="square">Visit the <a href="/standardlibrary">Standard Song Library</a> and <a href="/customlibrary">Custom Library Page</a> pages to see what songs are available to you.</li>
        <li type="square">Visit the <a href="/addsong">Add Song</a> page to start adding songs to your Custom Library.</li>
    </ul>



</div>
