
<div ng-controller="WelcomeController">
    <h1>Welcome to Song Shaker!</h1>

    <p>Song Shaker makes it easy to generate a set list for your next gig!</p>
    <p>Song Shaker comes with a standard library of over 200 songs.  We give you the ability to choose which of those songs you would like to be available when creating your sets.</p>
    <p>You can also add as many custom songs as you would like to make Set Shaker work best for you!</p>

    <p>Take a tour around the app: </p>
    <ul>
        <li>Visit the <a href="/setlist">Set List Generator</a> to check out the awesome set lists you can make.</li>
        <li>Visit the <a href="/standardlibrary">Standard Song Library</a> and <a href="/customlibrary">View Custom Library Page</a> pages to see what songs are available to you.</li>
        <li>Visit the <a href="/addsong">Add Song</a> page to start adding songs to your Custom Library.</li>
    </ul>



</div>
